<tr>
    <td class="{{lineClass}} {{CSSLineClass.INFO}}"></td>
    <td class="{{CSSLineClass.INFO}}" colspan="3">
        <div class="{{contentClass}} {{CSSLineClass.INFO}}">{{{blockHeader}}}</div>
    </td>
</tr>
