<div id="{{fileHtmlId}}" class="d2h-file-wrapper" data-lang="{{file.language}}">
    <div class="d2h-file-header">
      {{{filePath}}}
    </div>
    <div class="d2h-files-diff">
        <table class="d2h-diff-table">
            <colgroup>
                <col width="40">
                <col>
                <col width="40">
                <col>
            </colgroup>
            <tbody class="d2h-diff-tbody">
                {{{diffs}}}
            </tbody>
        </table>
    </div>
</div>
